img{
    display: block;
    margin: auto;
}

.verticalcenter {
    display: table-cell;
    height: 7em;
    vertical-align: middle;
}

.disclaimer {
    background-color: greenyellow;
    margin: 2em;
    padding: 2em;
    border: solid;
}

.shiny-notification {
    height: 100px;
    width: 800px;
    position:fixed;
    top: calc(50% - 50px);
    left: calc(50% - 400px);
    font-size: 250%;
    text-align: center;
    }